pylintrc
.vscode/settings.json
__pycache__/minmax.cpython-39.pyc
HexuanLiu.py
DKenefake.py
__pycache__/utility.cpython-39.pyc
compare_poly.py
__pycache__/convert.cpython-39.pyc
__pycache__/first_abs_poly.cpython-39.pyc
__pycache__/first_algorithm.cpython-39.pyc
